{% extends "base.html" %}

{% block title %}Enter Password{% endblock %}

{% block content %}
<div class="login-container">
    <a href="{% url 'login' %}" class="back-arrow">&#8592; Back</a>
    <h1>Enter Password
        <small><span style="text-align: center;" class="email">{{ email }}</span></small>
    </h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Please enter your password to log in.</p>
    <form method="post" action="{% url 'login_step_2' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="hidden" name="email" value="{{ email }}">
        <button type="submit" class="btn">Log In</button>
    </form>
</div>
{% endblock %}
