{% extends "base.html" %}

{% block title %}Enter Password{% endblock %}

{% block content %}
<div class="login-container">
    <a href="{% url 'login' %}" class="back-arrow">&#8592; Back</a>
    <h1>Enter Password</h1>
    <form method="post" action="{% url 'login_step_2' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="hidden" name="username_email" value="{{ username_email }}">
        <button type="submit" class="btn">Log In</button>
    </form>
</div>
{% endblock %}
