{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} style="color: rgb(0, 255, 51);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
<div class="profile-container">
    <div class="profile-header">
        <a href="#" id="profile-pic-link">
            <img src="#" alt="Profile Picture" id="profile-pic">
        </a>
        <h1>{{ user.username }}</h1>
    </div>
    <div class="profile-details">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Bio:</strong> {{ user.bio }}</p>
        <p><strong>Location:</strong> {{ user.location }}</p>
        <p><strong>Birthdate:</strong> {{ user.date_of_birth }}</p>
        <a href="{% url 'profile_edit' %}" class="btn">Edit Profile</a>
        <a href="#" class="btn">Change Password</a>
    </div>
</div>
{% endblock %}
